<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>最近七天战绩</title>
</head>
<body>
<h2><b><u>概况</u></b></h2>
<ul>
    <li>日期:{{.BeginDateStr}} 至 {{.EndDateStr}}</li>
    <li>总场次:{{.MatchCount}}
        <span style="color: orangered; ">红:{{.RedCount}}</span>
        <span style="color: greenyellow; ">走:{{.WalkCount}}</span>
        <span style="color: gray; ">黑:{{.BlackCount}}</span>
        <span style="color: orangered; ">最长连红:{{.LinkRedCount}}</span>
        <span style="color: gray; ">最长连黑:{{.LinkBlackCount}}</span>
    </li>
</ul>
<h2><b><u>赛事列表</u></b>　　　<span>算法标识: 1 2 3</span></h2>
<table style="font-size: 12px;">
    <tr>
        <td>时间</td>
        <!--<td>联赛</td>-->
        <td>主队(让球)客队</td>
        <td>比分</td>
        <td>推荐</td>
    </tr>
    {{with .DataList}}
        {{range .}}
            <tr>
                <td>{{.MatchDateStr}}</td>
                <!--<td>{{.LeagueName}}</td>-->
                <td>{{.MainTeam}}({{.LetBall}}){{.GuestTeam}}</td>
                <td
                        {{if eq  .Result "正确"}}
                            style="background-color: orangered"
                        {{else if eq  .Result "错误"}}
                            style="background-color: gray"
                        {{else}}
                            style="background-color: greenyellow"
                        {{end}}>
                    {{.MainTeamGoal}}:{{.GuestTeamGoal}}
                </td>
                <td>
                    <b>{{.PreResult}}</b>
                    {{if eq .AlFlag "Asia20191206Service"}}
                        1
                    {{else if eq .AlFlag "Euro20191206Service"}}
                        2
                    {{else if eq .AlFlag "Euro20191212Service"}}
                        3
                    {{else}}
                    {{end}}
                </td>

            </tr>
        {{end}}
    {{end}}
</table>
</body>
</html>